html {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

body {
    width: 1600px;
    margin: auto;
    position: relative;
}

input, textarea {
    outline: none;
    border: none;
    }

button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  
  button:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  
  button:active {
    outline: none;
    border: none;
  }
  
  button:focus {
    outline: 0;
  }

a {
    text-decoration: none;
    color: inherit;
}

ol, ul {
    list-style-type: none;
}

#page-top {
    height: 744px;
    width: 1600px;
    position: relative;
    background-color: black;
}

header {
    position: absolute;
    width: 1600px;
    height: 95px;
    left: 0px;
    top: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    position: absolute;
    width: 1600px;
    height: 95px;
    left: 0px;
    top: 0px;
}

#nav-items {
    position: absolute;
    width: 1600px;
    height: 95px;
    left: 0px;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.nav-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 40%;

    display: flex;
    align-items: center;

    opacity: 0.7;
    color: #FFFFFF;
    transition: .4s;
}

.nav-item:hover {
    opacity: 1 !important;
    border-bottom: 1px solid currentColor;
}

#nav-item-0 {
    position: absolute;
    width: 38px;
    height: 20px;
    left: 502px;
    top: 38px;
}

#nav-item-1 {
    position: absolute;
    width: 53px;
    height: 20px;
    left: 625px;
    top: 38px;
}

#nav-item-2 {
    position: absolute;
    width: 44px;
    height: 45px;
    left: 778px;
    top: 25px;
    opacity: 1;
    background-image: url(assets/Vector.svg);
    animation: rotate-logo 5s linear infinite;
}

@keyframes rotate-logo {
    from {
      transform: rotate(360deg);
    }
  }

#nav-item-3 {
    position: absolute;
    width: 52px;
    height: 20px;
    left: 923px;
    top: 38px;
}

#nav-item-4 {
    position: absolute;
    width: 26px;
    height: 20px;
    left: 1058px;
    top: 38px;
}

.nav-item-active {
    opacity: 1 !important;
    border-bottom: 1px solid currentColor;
}

#bg-image-wrapper {
    position: absolute;
    z-index: 0;
    width: 1600px;
    height: 744px;
    background-image: url(assets/top-page-bg.jpeg);
    background-size: 100%;
    background-position: center;
    animation: screen-pulse 5s infinite;
}

@keyframes screen-pulse {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 0.8;
    }
   
    100% {
      opacity: 0.3;
    }
  }

#your-life {
    position: absolute;
    width: 1600px;
    height: 744px;
    left: 0px;
    top: 0px;
}

#your-life-is {
    position: absolute;
    width: auto;
    height: 75px;
    left: 435px;
    top: 231px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    z-index: 2;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#your-life-subtext {
    position: absolute;
    z-index: 2;
    width: 504px;
    height: 50px;
    left: 548px;
    top: 326px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}

#your-life-btn {
    position: absolute;
    left: 707px;
    top: 406px;
}

.get-started-btn {
    z-index: 2;
    outline: none;
    display: flex;
    flex-direction: row;
    padding: 15px 47px;
    width: 184px;
    height: 46px;
    background: #00AFDB;
    cursor: pointer;
    transition: .3s;
}

.get-started-btn:hover {
    background: #0080a0;
}

.get-started-btn span {
    position: static;
    width: 90px;
    height: 16px;
    left: calc(50% - 90px/2);
    top: calc(50% - 16px/2);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: center;
    margin: 0px 0px;
}

#socials {
    position: absolute;
    z-index: 1;
    width: 170px;
    height: 20px;
    left: 715px;
    top: 635px;
}

#socials a {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0.8;
    transition: .4s;
    top: 0px;
}

#socials a:hover {
    opacity: 1;
}

#social-mail {
    left: 0px;
    background-image: url(assets/mail_fff.svg);
}

#social-facebook {
    left: 50px;
    background-image: url(assets/facebook_fff.svg);
}

#social-insta {
    left: 100px;
    background-image: url(assets/insta_fff.svg);
}

#social-youtube {
    left: 150px;
    background-image: url(assets/youtube_fff.svg);
}

#rappresent {
    width: 1600px;
    height: 842px;
    position: relative;
    background-color: white;
}

#rappresent-img-box {
    position: absolute;
    display: flex;
    align-items: center;
    width: 407px;
    height: 582px;
    left: 923px;
    top: 120px;
    overflow: hidden;
}

#rappresent-img-box img {
    width: 100%;
    height: auto;
}

#rappresent-content {
    position: absolute;
    width: 407px;
    height: 233px;
    left: 268px;
    top: 296px;
}

#rappresent-content-title {
    position: absolute;
    width: 368px;
    height: 57px;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
}

#rappresent-content-text {
    position: absolute;
    width: 407px;
    height: 80px;
    left: 0px;
    top: 76px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #4E4E4E;
}

#rappresent-content-btn {
    position: absolute;
    left: 0px;
    top: 186px;
}

#community {
    position: relative;
    width: 1600px;
    height: 504px;
    background-color: #F5F6F7;
}

#community-content {
    position: absolute;
    width: 298px;
    height: 175px;
    left: 269px;
    top: 155px;
}

#community-content-person {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 127px;
    top: 0px;
    border-radius: 50%;
}

#community-content-title {
    position: absolute;
    width: 164px;
    height: 20px;
    left: calc(50% - 160px/2 + 0.5px);
    top: 65px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #373737;
}

#community-content-text {
    position: absolute;
    width: 299px;
    height: 80px;
    left: calc(50% - 298px/2 - 0.5px);
    top: 95px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #4E4E4E;
}

#community-slider-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 2;
    position: absolute;
    width: 83px;
    height: 20px;
    left: 1250px;
    top: 80px;
}

.community-slider-nav-txt {
    padding-bottom: 1px;
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #373737;
}

#community-slider-nav-back {
    position: absolute;
    left: 0;
    width: 14px;
    height: 14px;
    background-image: url(assets/rectangle.svg);
    background-size: contain;
    transform: rotate(180deg);
}

#community-slider-nav-next {
    position: absolute;
    left: 69px;
    width: 14px;
    height: 14px;
    background-image: url(assets/rectangle.svg);
    background-size: contain;
}

#community-slider-nav-num {
    left: 23px;
}

#community-slider-nav-divider {
    left: 37.5px;
}

#community-slider-nav-all {
    left: 49.5px;
}

.community-slider-nav-hover {
    opacity: 1;
    transition: opacity .3s;
    cursor: pointer;
}

.community-slider-nav-hover:hover {
    opacity: 0.5;
}

#community-slider-items {
    position: absolute;
    width: 894px;
    height: 244px;
    left: 706px;
    top: 120px;
    overflow: hidden;
}

.slides {
    position: absolute;
    top: 0px;
    width: 407px;
    height: 244px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slides img {
    width: 100%;
    height: auto;
}

#slide-1 {
    left: 0px;
}

#slide-2 {
    left: 437px;;
}

#slide-3 {
    left: 874px;
}


#implement {
    position: relative;
    width: 1600px;
    height: 842px;
}

#implement-img-box {
    position: absolute;
    width: 407px;
    height: 582px;
    left: 269px;
    top: 120px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#implement-img {
    width: 100%;
    height: auto;
}

#implement-content {
    position: absolute;
    width: 407px;
    height: 184px;
    left: 815px;
    top: 319px;
}

#implement-content-title {
    position: absolute;
    width: 298px;
    height: 28px;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
}

#implement-content-text {
    position: absolute;
width: 407px;
height: 60px;
left: 0px;
top: 48px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
color: #4E4E4E;
}

#implement-content-btn {
    position: absolute;
    left: 0px;
    top: 138px;
    width: 180px;
    height: 46px;
}

#subscribe {
    position: relative;
    width: 1600px;
    height: 598px;
    overflow: hidden;
    background-color: black;
}

#subscribe-bg-wrapper {
    position: absolute;
    width: 1920px;
    height: 1281px;
    left: -160px;
    top: -615px;
    z-index: 0;
    background-image: url(assets/subscribe-bg.jpeg);
    background-size: 100%;
    background-position: center;
    opacity: 0.4;
}

#subscribe-form {
    z-index: 2;
    position: absolute;
    width: 406px;
    height: 104px;
    left: 597px;
    top: 217px;
}

#subscribe-form-label {
    position: absolute;
    width: 382px;
    height: 28px;
    left: 13px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

#subscribe-form-form {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 406px;
    height: 46px;
    left: 0px;
    top: 58px;
}

#subscribe-form-submit {
    position: absolute;
    width: 66px;
    height: 46px;
    left: 340px;
    top: 0px;
    background-image: url(assets/fa-check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #00AFDB;
    cursor: pointer;
    transition: .3s;
}

#subscribe-form-submit:hover {
    background-color: #0080a0;
}

#subscribe-form-input {
    position: absolute;
    width: 340px;
    height: 46px;
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    padding-left: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: flex-end;
    color: #373737;
}

#subscribe-form-input:invalid:not(:placeholder-shown) {
    background-color: #ffd0d0;
}
#subscribe-form-input:valid:not(:placeholder-shown) {
    background-color: #d9ffd0;
}