html {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

body {
    width: 1600px;
    margin: auto;
    position: relative;
}

button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  
  button:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  
  button:active {
    outline: none;
    border: none;
  }
  
  button:focus {
    outline: 0;
  }

a {
    text-decoration: none;
    color: inherit;
}

ol, ul {
    list-style-type: none;
}

#page-top {
    height: 744px;
    width: 1600px;
    position: relative;
    background-color: black;
}

header {
    position: absolute;
    width: 1600px;
    height: 95px;
    left: 0px;
    top: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    position: absolute;
    width: 1600px;
    height: 95px;
    left: 0px;
    top: 0px;
}

#nav-items {
    position: absolute;
    width: 1600px;
    height: 95px;
    left: 0px;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.nav-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 40%;

    display: flex;
    align-items: center;

    opacity: 0.7;
    color: #FFFFFF;
    transition: .4s;
}

.nav-item:hover {
    opacity: 1 !important;
    border-bottom: 1px solid currentColor;
}

#nav-item-0 {
    position: absolute;
    width: 38px;
    height: 20px;
    left: 502px;
    top: 38px;
}

#nav-item-1 {
    position: absolute;
    width: 53px;
    height: 20px;
    left: 625px;
    top: 38px;
}

#nav-item-2 {
    position: absolute;
    width: 44px;
    height: 45px;
    left: 778px;
    top: 25px;
    opacity: 1;
    background-image: url(assets/Vector.svg);
    animation: rotate-logo 5s linear infinite;
}

@keyframes rotate-logo {
    from {
      transform: rotate(360deg);
    }
  }

#nav-item-3 {
    position: absolute;
    width: 52px;
    height: 20px;
    left: 923px;
    top: 38px;
}

#nav-item-4 {
    position: absolute;
    width: 26px;
    height: 20px;
    left: 1058px;
    top: 38px;
}

.nav-item-active {
    opacity: 1 !important;
    border-bottom: 1px solid currentColor;
}

#bg-image-wrapper {
    position: absolute;
    z-index: 0;
    width: 1600px;
    height: 744px;
    background-image: url(assets/top-page-bg.jpeg);
    background-size: 100%;
    background-position: center;
    animation: screen-pulse 5s infinite;
}

@keyframes screen-pulse {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 0.8;
    }
   
    100% {
      opacity: 0.3;
    }
  }

#your-life {
    position: absolute;
    width: 1600px;
    height: 744px;
    left: 0px;
    top: 0px;
}

#your-life-is {
    position: absolute;
    width: auto;
    height: 75px;
    left: 435px;
    top: 231px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    z-index: 2;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#your-life-subtext {
    position: absolute;
    z-index: 2;
    width: 504px;
    height: 50px;
    left: 548px;
    top: 326px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}

#your-life-btn {
    position: absolute;
    left: 707px;
    top: 406px;
}

.get-started-btn {
    z-index: 2;
    outline: none;
    display: flex;
    flex-direction: row;
    padding: 15px 47px;
    width: 184px;
    height: 46px;
    background: #00AFDB;
    cursor: pointer;
    transition: .3s;
}

.get-started-btn:hover {
    background: #0080a0;
}

.get-started-btn span {
    position: static;
    width: 90px;
    height: 16px;
    left: calc(50% - 90px/2);
    top: calc(50% - 16px/2);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: center;
    margin: 0px 0px;
}

#socials {
    position: absolute;
    z-index: 1;
    width: 170px;
    height: 20px;
    left: 715px;
    top: 635px;
}

#socials a {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0.8;
    transition: .4s;
    top: 0px;
}

#socials a:hover {
    opacity: 1;
}

#social-mail {
    left: 0px;
    background-image: url(assets/mail_fff.svg);
}

#social-facebook {
    left: 50px;
    background-image: url(assets/facebook_fff.svg);
}

#social-insta {
    left: 100px;
    background-image: url(assets/insta_fff.svg);
}

#social-youtube {
    left: 150px;
    background-image: url(assets/youtube_fff.svg);
}

#rappresent {
    width: 1600px;
    height: 842px;
    position: relative;
    background-color: white;
}

#rappresent-img-box {
    position: absolute;
    display: flex;
    align-items: center;
    width: 407px;
    height: 582px;
    left: 923px;
    top: 120px;
    overflow: hidden;
}

#rappresent-img-box img {
    width: 100%;
    height: auto;
}

#rappresent-content {
    position: absolute;
    width: 407px;
    height: 233px;
    left: 268px;
    top: 296px;
}

#rappresent-content-title {
    position: absolute;
    width: 368px;
    height: 57px;
    left: 0px;
    top: 0px;

    /* h2-24-bold */

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
}

#rappresent-content-text {
    position: absolute;
    width: 407px;
    height: 80px;
    left: 0px;
    top: 76px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #4E4E4E;
}

#rappresent-content-btn {
    position: absolute;
    left: 0px;
    top: 186px;
}
